gradle-7.6-bin.zip filter=lfs diff=lfs merge=lfs -text
gradle-7.2-bin.zip filter=lfs diff=lfs merge=lfs -text
gradle-7.4-bin.zip filter=lfs diff=lfs merge=lfs -text
gradle-7.5-20220518001855+0000-bin.zip filter=lfs diff=lfs merge=lfs -text
gradle-7.5-bin.zip filter=lfs diff=lfs merge=lfs -text
gradle-7.0.2-bin.zip filter=lfs diff=lfs merge=lfs -text
gradle-7.3.3-bin.zip filter=lfs diff=lfs merge=lfs -text
gradle-8.0-bin.zip filter=lfs diff=lfs merge=lfs -text
gradle-8.10.2-bin.zip filter=lfs diff=lfs merge=lfs -text
gradle-8.11.1-bin.zip filter=lfs diff=lfs merge=lfs -text
gradle-8.13-bin.zip filter=lfs diff=lfs merge=lfs -text
gradle-8.13-20250221010946+0000-bin.zip filter=lfs diff=lfs merge=lfs -text
gradle-8.0-rc-2-bin.zip filter=lfs diff=lfs merge=lfs -text
gradle-8.1-bin.zip filter=lfs diff=lfs merge=lfs -text
gradle-8.12-20241105002153+0000-bin.zip filter=lfs diff=lfs merge=lfs -text
gradle-8.12-bin.zip filter=lfs diff=lfs merge=lfs -text
gradle-8.5-bin.zip filter=lfs diff=lfs merge=lfs -text
gradle-8.7-bin.zip filter=lfs diff=lfs merge=lfs -text
gradle-8.8-bin.zip filter=lfs diff=lfs merge=lfs -text
gradle-8.8-rc-1-bin.zip filter=lfs diff=lfs merge=lfs -text
gradle-8.2-bin.zip filter=lfs diff=lfs merge=lfs -text
gradle-8.3-bin.zip filter=lfs diff=lfs merge=lfs -text
gradle-8.3-rc-1-bin.zip filter=lfs diff=lfs merge=lfs -text
gradle-8.3-rc-2-bin.zip filter=lfs diff=lfs merge=lfs -text
gradle-8.4-bin.zip filter=lfs diff=lfs merge=lfs -text
gradle-8.6-bin.zip filter=lfs diff=lfs merge=lfs -text
gradle-8.9-bin.zip filter=lfs diff=lfs merge=lfs -text
